body {
  width: 40%;
  margin: 40px auto 0;
  text-align: center;
}

a {
  text-decoration: none;
  outline: none;
  border: 1px solid black;
  /*padding: 1em 2em;*/
  padding-right: 40px;
}

a:visited {
  color: rgba(25, 200, 12, 0.5);
}

a:focus {
  color: rgba(23, 221, 233, 1);
  outline: 1px solid;
}

a:hover {
  color: green;
}

a:active {
  color: yellow;
  cursor: grabbing;
}

a[href*="http"] {
  /*background: url('https://mdn.mozillademos.org/files/12982/external-link-52.png') no-repeat 100% 0;*/
  background: url('https://img.icons8.com/metro/26/000000/external-link.png') no-repeat right top;
  background-size: 16px 16px;
  /*background-origin: border-box;*/
  padding-right: 29px;
}
